<div class="flex flex-col">
  <div class="w-full flex flex-col items-center justify-center gap-3 py-5">
    <div class="flex flex-col gap-2">
      <label for="username">Username</label>
      <input
        pInputText
        [(ngModel)]="loginObj.email"
        id="email"
        name="email"
        type="text"
      />
    </div>
    <div class="flex flex-col gap-2">
      <label for="password">Password</label>
      <input
        pInputText
        [(ngModel)]="loginObj.password"
        id="password"
        name="password"
        type="password"
      />
    </div>
    <div class="flex flex-col gap-2">
      <p-button
        (click)="onLogin()"
        label="Login"
        icon="pi pi-user"
        class="w-full max-w-[17.35rem]"
        styleClass="w-full mx-auto"
      />

      <p-button
        label="Sign Up"
        icon="pi pi-user-plus"
        severity="success"
        class="w-full max-w-[17.35rem]"
        styleClass="w-full mx-auto"
      />
    </div>
  </div>
</div>
